
    <div class="jobs-section">
    <div class="jobs-container row">

        <div class="jobs-card ">
        
            <div class="card-body">
                <% jobs.forEach(job =>{  %>
                <span hidden><%= job.id %></span>
                
             <p class="active-hiring">Actively Hiring</p>
              <h4 class="card-title"><%= job.name %></h4>
              <p class="card-text">Tech <span class="tech"><%=job.tech %></span></p>
              <h6 class="card-location"><%=job.location %></h6>
              <p class="card-text"><%=job.salary %></p>

              <button type="button" class="btn btn-outline-primary btn-sm"><%= job.skill1 %>></button>
              <button type="button" class="btn btn-outline-primary btn-sm"><%= job.skill2 %>></button>
              <button type="button" class="btn btn-outline-primary btn-sm"><%= job.skill3 %>></button>
              <button type="button" class="btn btn-outline-primary btn-sm"><%= job.skill4 %>></button>
              <button type="button" class="btn btn-outline-primary btn-sm"><%= job.skill5 %>></button>

              <a href="details" class=" btn btn-outline-success"style="--bs-btn-padding-y: .3rem; --bs-btn-padding-x: 5.8rem; --bs-btn-font-size: 1rem;">
              View Details
              </a> 
              <% }) %>  
            </div>
        </div>
    </div>  
</div>
    
    
